.Wrapper {
    width: 1280px;
    margin: 0 auto;
    /* display: flex; */
}

.main-nav {
    background-color: #35444F;   
}

.main-list {
    display: flex;
    justify-content: center;
}

.main-list a {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    align-items: center;
}

.navlink {
    padding-left: 32px;
    padding-right: 32px;
}

.main-list-item {
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    padding-top: 24px;
    padding-bottom: 18px;
}

.main-list-item:hover {
    background-color: #222f32;
}

.color-blue {
    color: #4BCAFF;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header {
    margin-top: 63px;
    margin-bottom: 38px; 
}

.header-link {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    text-decoration: none;
}

.main-navbar-list a:hover{
    color: #F48E0B;
}

.main-list-item:last-child {
    margin-right: 0;
}

.center_items {
    display: flex;
}

.wrapper_img {
    border: 1px solid #000;
    margin-top: 49px;
    width: 865px;
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img:hover {
    transform: scale(1.1);
    transition: all .4s ease;
}

.main-sidebar-menu {
    width: 385px;
    height: 420px;
    border: 1px solid #000;
    margin-top: 49px;
    margin-right: 52px;
}

.main-sidebar-list {
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    display: flex;
    color: #495863;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.main-sidebar-item {
    width: 342px;
    height: 81px;    
    padding-left: 20px;
    padding-bottom: 3px;
}

.main-sidebar-item:hover {
    background-color: #DBDBDB;
    transition: all .25sec ease;
}

.main-sidebar-menu .main-sidebar-item:hover a {
    padding-left: 20px;
    background-color: #DBDBDB;
}

.main-sidebar-item a {
    text-decoration: none;
    color: #485863;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
    margin-left: 44px;
    line-height: 75px;
}

.footer {
    width: 1280px;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;
    margin-top: 54px;
}

.footer a {
    text-decoration: none;
    color: #000;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
}
.footer-list {
    display: flex;
    box-sizing: border-box;
    margin-right: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid transparent;
    justify-content: space-between;
}

.footer-list a:hover {
    border-bottom: 2px solid #3181A6;
    color: #3181A6;
}

.first_text 
.second_text {
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.first_text {
    margin-bottom: 13px;
    margin-top: 37px;
    text-align: justify;
}

.second_text {
    text-align: justify;
}

p::first-letter {
    font-size: 2em;
    color: rgb(43, 41, 41);
}

.footer-item6 {
    margin-left: 135px;
    margin-right: 40px;
}
.fotter-item1 {
    margin-left: 40px;
}

.footer-list li {
    margin-top: 20px;
    margin-bottom: 20px;
}